In [11]:
birthdays = {}

while True:
    print('Enter a name : (Blank to Quit)')
    name = input()
    if name == '' :
        break
    
    if name in birthdays :
        print(birthdays[name] + ' is the birthday of' + name)
    else :
        print('I do not have Birthday information for ' + name)
        print('What is their Birthday')
        bday = input()
        birthdays[name] = bday
        print('Database Updated Succesfully!!')

Enter a name : (Blank to Quit)
Deepak
I do not have Birthday information for Deepak
What is their Birthday
27th March
Database Updated Succesfully!!
Enter a name : (Blank to Quit)
Deepak
27th March is the birthday Deepak
Enter a name : (Blank to Quit)
Bro
I do not have Birthday information for Bro
What is their Birthday
1 Jan
Database Updated Succesfully!!
Enter a name : (Blank to Quit)
Bro
1 Jan is the birthday Bro
Enter a name : (Blank to Quit)

In [12]:
birthdays

{'Deepak': '27th March', 'Bro': '1 Jan'}

In [13]:
for n in birthdays.keys():
    print(n)

Deepak
Bro

In [16]:
for bday in birthdays.values():
    print(bday)

27th March
1 Jan

In [17]:
for i in birthdays.items():
    print(i)

('Deepak', '27th March')
('Bro', '1 Jan')

In [19]:
for k, v in birthdays.items():
    print('Key: ' + k + ' Value: ' + v)

Key: Deepak Value: 27th March
Key: Bro Value: 1 Jan

In [21]:
'Deepak' in birthdays.keys()

True